header {
    height: 100vh;
    background: $gray url(../img/juice.png) 90% 97% no-repeat;
    @include max-screen(576px) {
        background-position: 105% 105%;
    }
    h1 {
        text-align: center;
        text-shadow: 3.5px 8.3px 10px rgba(0, 0, 0, 0.24);
        color: #505050;
        font-family: Montserrat;
        font-size: 45px;
        font-weight: 700;
        text-transform: uppercase;
        @include max-screen(576px) {
            font-size: 30px;
            margin-top: 60px;
        }
    }
    span {
        background-color: $blue;
    }
    a {
        opacity: 0.75;
        color: black;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 1px;
        line-height: 28px;
        text-transform: uppercase;
        opacity: 0.5;
        border: 2px solid black;
        border-radius: 2px;
        padding: .8em 2.5em;
        position: relative;
        top: 100px;
        @include max-screen(576px) {
            font-size: 14px;
        }
    }
}