.works {
    padding: 100px 0;
    height: 100vh;
    @include max-screen(991.98px) {
        height: auto;
    }
    .works__item {
        height: 300px;
    }
    h3 {
        margin-bottom: 80px;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}