@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700,800|Montserrat:400,700&subset=cyrillic,cyrillic-ext');
.h2 {
    color: black;
    font-family: Montserrat;
    font-size: 38px;
    line-height: 28px;
    text-transform: uppercase;
    font-weight: bold;
}

.h3 {
    color: black;
    font-family: "Myriad Pro";
    font-size: 18px !important;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
}

$mons: Montserrat;